#jumbotron {
  width: 100%;
  height: 567px;
  background-image: url(../../assets/bgHome.png);
  font-family: "Amatic SC", cursive;
  display: flex;
  flex-direction: row;
}

#slogan {
  width: 50%;
  height: 100%;
  padding-left: 40px;
  color: rgb(44, 33, 33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 500px;
  height: 500px;
}
#img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
